/*Smooth Slider specific styles*/
.smooth_slider_fouc .smooth_slider {display: none;}
.smooth_slider div,.smooth_slider p,.smooth_slider li,.smooth_slider span,.smooth_slider img,.smooth_slider h2,.smooth_slider ul{list-style:none;background:transparent;vertical-align:baseline;}
.smooth_slider{padding:0 5px;}
.smooth_slider .sldr_title{margin:5px 0 10px 0;}
.smooth_slider span{display:inline;overflow:hidden;margin: 10px auto;line-height:18px;}
.smooth_slider .smooth_sliderb{position:relative;}
.smooth_slider .smooth_slideri{position:absolute;}
.smooth_slider a{text-decoration:none !important;}
.smooth_slider h2{clear:none;display:block;padding:0px;}
.smooth_slider p.smooth_more{margin:0;}
.smooth_slider p.smooth_more a{text-decoration:underline !important;float:right;}
.smooth_slider p.smooth_more a:hover{text-decoration:none;}

.sldrbr{line-height:1px;}
.sldrlink{display:block;font-size:8px;font-family:Verdana, Helvetica, sans-serif;}
.sldrlink a{position:absolute;bottom:0;right:5px;margin:10px auto;color:#333333;}
.sldr_clearlt{display:block;visibility:hidden;clear:left;height:0;content:".";}
.sldr_clearrt{display:block;visibility:hidden;clear:right;height:0;content:".";}

/* Overall */
p, li, h3, h4, h5, h6 {
  color: #444444;
  font-family: "Open Sans";
}

h1, h2 {
  font-family: "Encode Sans";
  color: #4b2e83;
}

body {
  background-image: url(background.png);
  margin: 0px;
  min-height: 100vh;
}

ul {list-style-type: none;}

a {
  text-decoration: none;
}

a:link {
  color: #4b2e83;
  font-family: "Open Sans";
  
}

a:hover {
  background-color: #DF744A;
  color: white
}

/* Navigation Bar and Buttons */
.name {
  margin-top: 20px;
  font-size: 25px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FEDCD2;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbarli {
  float: right;
  color: white;
}

li a {
  display: block;
  color: white !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #DF744A;
  color: white;
}

.active {
  background-color: #DF744A;
  color: white;
}

button {
  background-color: #FEDCD2;
  color: black;
}

/* Home Page */
.content {
  display: flex;
  flex-direction: row;
}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #BFD8D2;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days button {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    height: 82px;
    text-align: center;
    margin-bottom: 5px;
    font-size:30px;
    color: #000000;
}

/* Highlight the "current" day */
.days button .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}